@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mx-auto text-center">
    <h1 class="text-2xl">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="mx-auto mt-10 font-bold bg-gray-100">
    <div id="message"></div>
    <div>
        Compiler: <input id="compiler" value="TypeScript" onkeyup="document.getElementById('message').innerText = sayHello()" /><br />
        Framework: <input id="framework" value="ASP.NET" onkeyup="document.getElementById('message').innerText = sayHello()" />
    </div>
</div>
<div class="mx-auto max-w-md mt-10 w-example7 bg-gray-500">
    Test Div for CSS
</div>