@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mx-auto text-center">
    <h1 class="text-2xl">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="mx-auto max-w-md mt-10 w-example7 bg-gray-500">
    Test Div for CSS
</div>